body {
	margin: auto;
	font-size: 110%;
	width: 80%;
}
/* The header at the top of the page. */
#head {

}
/* The meat of your page. */
#cont {

}
/* The source code of the post, if displayed. */
#cont #rawMarkdown {
	background-color: #EEE;
	padding: 1em;
}
/* The metadata at the bottom of the post. */
#meta {
	color: gray;
	font-size: 60%;
}
/* The footer at the bottom of the page. */
#foot {

}
