<?xml version="1.0"?>
<configuration>
  <appSettings>
      <!-- The directory that posts are held in. If you have problems, try an absolute path. -->
      <add key="PostsDirectory" value="./posts/" />
      <!-- The title of your blog. -->
      <add key="BlogTitle" value="Blog" />
      <!-- How many posts, max for the feed. -->
      <add key="MaxFeedPosts" value="15" />
  </appSettings>
</configuration>